<main class="demo-main mdl-layout_content">
    <div class="demo-container mdl-grid">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text-grey-800 mdl-cell mdl-cell--8-col">
            <div class="header-title">
                <h2>Welcome to the Cirrus Web Accelerator!</h2>
            </div>
            <dl class="descriptor-title">
                <dt><i style="color: blue; font-size: 45px;" class="material-icons">build</i></dt>
                <dd>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris auctor est in eleifend rutrum.
                    Aliquam id magna sit amet leo maximus elementum sit amet vel leo. Nunc metus ante, tincidunt
                    nec massa posuere, molestie sollicitudin lectus. Vestibulum ante ipsum primis in faucibus orci
                    luctus et ultrices posuere cubilia Curae; Duis quis libero sit amet mauris eleifend porta ac non quam.
                </dd>
            </dl>
            <dl class="descriptor-title">
                <dt><i style="color: red; font-size: 45px;" class="material-icons">flight_takeoff</i></dt>
                <dd>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris auctor est in eleifend rutrum.
                    Aliquam id magna sit amet leo maximus elementum sit amet vel leo. Nunc metus ante, tincidunt
                    nec massa posuere, molestie sollicitudin lectus. Vestibulum ante ipsum primis in faucibus orci
                    luctus et ultrices posuere cubilia Curae; Duis quis libero sit amet mauris eleifend porta ac non quam.
                </dd>
            </dl>
            <dl class="descriptor-title">
                <dt><i style="color: green; font-size: 45px;" class="material-icons">monetization_on</i></dt>
                <dd>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris auctor est in eleifend rutrum.
                    Aliquam id magna sit amet leo maximus elementum sit amet vel leo. Nunc metus ante, tincidunt
                    nec massa posuere, molestie sollicitudin lectus. Vestibulum ante ipsum primis in faucibus orci
                    luctus et ultrices posuere cubilia Curae; Duis quis libero sit amet mauris eleifend porta ac non quam.
                </dd>
            </dl>
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
    </div>
</main>
