<header class="mdl-layout__header--scroll mdl-layout--fixed-header lilly-red lilly-lightGray25Text">
    <div class="mdl-layout__header-row">
      <img alt="Whmt logo" src="/img/WHM Logo.png" class="img"/>
      <!-- Title -->
        <span class="header">
        Website Heart Monitoring Tool
        </span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <img alt="Tata logo" class="cmpny_logo pull-right" src="/img/tata-logo-4cc12b02b46e56a40bc62f3169932dd6.png" />
        {{>header-searchbar}}
    </div>
</header>
