<div class="mdl-layout__drawer lilly-lightGray25Text">
    <span class="mdl-layout-title">
        <img class="navbar-img" src="/img/lilly_logo_red.png" alt="Eli Lilly">
    </span>
    <nav class="mdl-navigation mdl-js-ripple-effect">
        <a class="mdl-navigation__link" href="">
            <span class="link-title"style="font-size: large;">
                Home
            </span>
        </a>
        <a class="mdl-navigation__link" href="">
            <span class="link-title"style="font-size: large;">
                Activity
            </span>
        </a>
        <a class="mdl-navigation__link" href="">
            <span class="link-title"style="font-size: large;">
                Statistics
            </span>
        </a>
        <a class="mdl-navigation__link" href="/users">
            <span class="link-title"style="font-size: large;">
                Users
            </span>
        </a>
        <a class="mdl-navigation__link" href="">
            <span class="link-title"style="font-size: large;">
                SSL
            </span>
        </a>
        <a class="mdl-navigation__link" href="">
            <span class="link-title"style="font-size: large;">
                Broken Links
            </span>
        </a>
        <a class="mdl-navigation__link" href="">
            <span class="link-title"style="font-size: large;">
                Web 2 PDF
            </span>
        </a>
        <a class="mdl-navigation__link" href="">
            <span class="link-title"style="font-size: large;">
                Orphan Content
            </span>
        </a>
    </nav>
</div>
