<section class="docs-text-styling about-panel about-panel--text mdl-cell mdl-cell--12-col">
    <dl>
        <dt>Cirrus Web Accelerator</dt>
        <dd>
            Welcome to the base Cirrus Web Accelerator!
            Welcome to the base Cirrus Web Accelerator!
            Welcome to the base Cirrus Web Accelerator!
            Welcome to the base Cirrus Web Accelerator!
        </dd>
    </dl>
</section>